.blobs {
    position: absolute;
    top: -60%;
    right: 0;
    left: 0;
    --left: #4f4f4f;
    --center: #4f4f4f;
    --right: #4f4f4f;
}

.blobCenter::before {
    content: '';
    background: var(--center);
    filter: blur(230px);
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    top: -300px;
    left: 0;
    right: 0;
    margin: auto;
    height: 700px;
    width: 500px;
    z-index: -1;
}

.blobLeft::before {
    content: '';
    background: var(--left);
    filter: blur(200px);
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    top: -120px;
    left: -300px;
    height: 600px;
    width: 700px;
    z-index: -1;
}

.blobRight::before {
    content: '';
    background: var(--right);
    filter: blur(200px);
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    top: -120px;
    right: -300px;
    height: 600px;
    width: 700px;
    z-index: -1;
}