.changelogContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 90vw;
    background: var(--bg);
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 7px;
    padding: 80px 50px;
    box-sizing: border-box;
    overflow-y: auto;
}

a {
    position: absolute;
    top: 40px;
    background: #fff;
    color: #000;
    border: none;
    outline: 0;
    font-size: 17px;
    padding: 9px 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s ease;
    text-decoration: none;
}

a:hover {
    background: #c9c9c9;
}

label {
    font-size: 13px;
}

ul {
    list-style-type: none;
}

li {
    margin: 5px 0;
}

li.add::before {
    content: '+';
    position: absolute;
    transform: translate(-20px, -4px);
    font-size: 20px;
}

li.add {
    color: rgb(94, 209, 94);
}

li.update::before {
    content: '~';
    position: absolute;
    transform: translate(-20px, -2px);
    font-size: 20px;
}

li.update {
    color: rgb(94, 167, 209);
}

li.remove::before {
    content: '-';
    position: absolute;
    transform: translate(-20px, -5px);
    font-size: 25px;
}

li.remove {
    color: rgb(209, 94, 94);
}